.left-column{
position: relative;
}

.left-column .img1{
    position: relative;
    z-index: 2;
}

.left-column .img2{
    position: absolute;
    width: 350px;
    height: 50%;
    top: -65px;
    right: -2rem;
    z-index: 5;
}

 .left-column .img3{
    position: absolute;
    width: 350px;
    top: 10rem;
    left: -12rem;
    z-index: 4;
}

.left-column .img4{
    position: absolute;
    width: 500px;
    height: 300px;
    z-index: 10;
    top: 20rem;
    right: 12rem;
} 