.left-column{
position: relative;
}

.left-column .img1{
    position: relative;
    z-index: 2;
    top: -7rem;
    right: -5rem;
    border-radius: 10px;
}

.left-column .img2{
    position: absolute;
    width: 285px;
    height: 101%;
    top: 13rem;
    right: 5rem;
    z-index: 5;
    border-radius: 10px;

}

 .left-column .img3{
    position: absolute;
    width: 350px;
    top: 10rem;
    left: -12rem;
    z-index: 4;
    border-radius: 10px;

}

.left-column .img4{
    position: absolute;
    width: 42%;
    height: 420px;
    z-index: 10;
    top: 2rem;
    right: 24rem;
    border-radius: 10px;

} 