/* .checkout-wrapper{
    padding: 10rem;
} */
.title{
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.user-details{
    font-size: 15px;
}
.chekout-right-data .title{
    font-size: 17px;
}

.total{
    font-size: 14px;
    color: #1c1c1b;
}

.total-price{
    font-size: 16px;
    color: #777777;
}

.chekout-right-data{
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-radius: 10px;
    min-height: 36rem;

}