
/*----------------------- Recent Sales ---------------------*/


.body .recent-sales{
    font-size: 14px;
}

.body .recent-sales .table thead{
    background: #f6f6fe !important;
}

.body .recent-sales .table thead th{
    border: 0;
}

.body .recent-sales .datatable-top{
    padding: 0 0 10px 0;
}

.body .recent-sales .datatable-bottom{
    padding: 10px 0 0 0;
}




/*----------------------- Top Selling ---------------------*/

.body .top-selling{
    font-size: 14px;
}

.body .top-selling .table thead{
    background: #f6f6fe !important;
}

.body .top-selling .table thead th{
    border: 0;
}

.body .top-selling .table tbody td{
    vertical-align: middle;
}

body .top-selling img{
    border-width: 5px;
    max-width: 60px;
}


/*----------------------- Recent Activity ---------------------*/

.body .activity{
    font-size: 14px;
}

.body .activity .activity-item .activite-label {
    color: #888888;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 64px;
}

.body .activity .activity-item .activity-label::before {
    content: '';
    position: absolute;
    right: -11px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #eceefe;
}

.body .activity .activity-item .activity-badge{
    margin-top: 3px;
    z-index: 1;
    font-size: 11px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid #ffffff;
    flex-grow: 0;
}

.body .activity .activity-item .activity-content{
    padding-left: 10px;
    padding-bottom: 20px;
}

.body .activity .activity-item:first-child .activity-label::before{
    top: 5px;
}

.body .activity .activity-item:last-child .activity-content{
    padding-bottom: 0;
}


/*----------------------- News ---------------------*/

.body .news .post-item + .post-item{
    margin-top: 15px;
}

.body .news img{
    width: 80px;
    float: left;
    border-radius: 5px;
}

.body .news h4{
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
    margin-bottom: 5px;
}

.body .news h4 a{
    color: #012970;
    transition: 0.3s;
}

.body .news h4 a:hover{
    color: #4154f1;
}

.body .news p{
    font-size: 14px;
    color: #777777;
    margin-left: 95px;
}

