@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif ;
}


:root {
  scroll-behavior: smooth;
  --primaryColor: #a4cc3c; 
  --hoverColor: #76b81f;
  --bgColor: #ffffff;
  --textColor: #79797c;
  --inputColor: #f8f6f7;
  --colorYellow: #FEAA09;

  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}


body{
  font-family: 'Montserrat', sans-serif;
  background: var(--bgColor);

}


#main{
  margin-top: -60px;
  padding: 20px 30px;
  transition: all 0.3s;
  /* background-color: #f6f6fe80; */
}


@media(max-width: 1199px){
  #main{
      padding: 20px;
  }
}


@media (min-width: 1200px){
  #main{
      margin-left: 90px;
  }


  
}


.main{
  /* margin-top: 20px; */
  padding: 20px 30px;
  transition: all 0.3s;
  /* background-color: #f6f6fe80; */
}


@media(max-width: 1199px){
  .main{
      padding: 20px;
  }
}


@media (min-width: 1200px){
  .main{
      margin-left: 90px;
  }
}

*a{
  color:#a4cc3c;
  text-decoration: none;
  cursor: pointer;
}


.mt-8{
  margin-top: 4rem;

}
.mt-15{
  margin-top: 15rem;
}

.mt-16{
  margin-top: 14rem;
}

.mt-18{
  margin-top: 18rem;
}


.gap-6{
  gap: 6px;
}

.gap-9{
  gap: 4.6rem;
}


ul{
  padding-left: 0;
}

.btn-success{
  color: #FFFFFF;
  background-color: var(--hoverColor);
  width: 150px !important;
  margin-top: 20px;
}

.error{
  color: red !important;
  font-size: 12px !important;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 14px;

}

td{
  vertical-align: middle;
  /* text-align: center; */
}

Link{
  text-decoration: none;
}

a{
  text-decoration: none;
}


/*----------------------------------------------------
#overrride some default bootsstrap styling
-----------------------------------------------------*/

/* Dropdown menus */

.dropdown-menu{
  border-radius: 6px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}


.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer{
  text-align: center;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a{
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover{
  text-decoration: none;
}

.dropdown-menu .dropdown-divider{
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item{
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i{
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover{
  background-color: #f6f9ff;
}

@media (min-width: 768px){
  .dropdown-menu-arrow::before{
    content:'';
    width: 13px;
    height: 13px;
    background: #ffffff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@-webkit-keyframes dropdown-animate{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }

  0%{
    opacity: 0;
  }
}

@keyframes dropdown-animate{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }

  0%{
    opacity: 0;
  }
}


/* card */

.card{
  margin-bottom: 30px;
  border-radius: 25px;
  color: white;
  border: solid #ffffff;
  box-shadow: 8.0px 8px 16.0px hsl(0deg 0% 0% / 0.25);
}


.card-header,
.card-footer{
  border-color: #ebeef4;
  background-color: #ffffff;
  color: #798eb3;
  padding: 15px;
}

.card-title{
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.card-title span{
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body{
  padding: 0 20px 20px 20px;
}

.card-img-overlay{
  background-color: rgba(255, 255, 255, 0.6);
}






/*----------------------------------------------------
#header
-----------------------------------------------------*/

.header{
  justify-content: space-between; 
  padding: 0.5rem 1.5rem ;
  background:transparent; 
  position: relative;
  z-index: 1;
  /* box-shadow: rgb(0 0 0 / 55%) 0px 15px 20px -10px */
   
}




/*-------------------------------- Searchbar ------------------------------------*/

.header .search-bar{
  min-width: 360px;
  padding: 0 20px;
}

.header .search-form{
  width: 100%;

}

/* .header .search-form input{
  border: 0;
  font-size: 14px;
  color: #000000;
  border: 1px solid rgba(1, 41, 112, 0.2);
  border-radius: 6px;
  padding: 7px 40px 7px 20px;
  width: 100%;
  transition: 0.3s;

} */

header .search-form input:focus,
header .search-form input:hover{
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button{
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form i{
  color: #000000;
}



/*--------------------------------  Nav ------------------------------------*/

.header-nav ul{
  list-style: none;
 
}

.header-nav > ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon{
  font-size: 22px;
  color: #000000;
  margin-right: 25px;
  position: relative;
}



.header-nav .badge-number{
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px
}

.header-nav .notifications{
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item{
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-right: 5px;
}

.header-nav .notifications .notification-item h4{
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p{
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications  .notification-item:hover{
  background-color: #f6f9ff;
}


.header-nav .messages{
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item{
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a{
 display: flex;
 text-decoration: none;
}

.header-nav .messages .message-item img{
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p{
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .messages .message-item:hover{
  background-color: #f6fde8;
}



.header-nav .nav-profile{
  color: var(--textColor);
}

.header-nav .nav-profile img{
  width: 36px;
  height: 36px;

}

.header-nav .nav-profile span{
  font-size: 14px;
  font-weight: 600;
}

.header-nav .profile{
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}


.header-nav .profile .dropdown-header h6{
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #000000;
}

.header-nav .profile .dropdown-header span{
  font-size: 14px;
}

.header-nav .profile .dropdown-item{
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i{
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item span{
  font-size: 14px;
  margin-left: 18px;
  font-style: normal;

}
.header-nav .profile .dropdown-item:hover{
  background-color: #f6fde8;
}

@media (max-width: 1199px){
  .header .search-bar{
      min-width: 360px;
      padding: 0 20px;
      top: 50px;
      left: 0;
      right: 0;
      padding: 20px;
      box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
      background: #ffffff;
      z-index: 10;
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
  }

  .header .search-bar-show{
      top: 60px;
      visibility: visible;
      opacity: 1;
  }
}






/*----------------------------------------------------
#Sidebar
-----------------------------------------------------*/
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  background-color: #ffffff;
  transition: all 0.4s;
  padding: 20px;
  /* overflow-y: auto; */
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  z-index: 100;
}

.sidebar span,
.sidebar .bi-chevron-down{
    opacity: 0;
  }
 .sidebar-nav .nav-heading{
    opacity: 0;  
    margin: -30px 0 5px 0px;
  }

@media (max-width: 1199px){
  .sidebar{
      left: -300px;
  }
}


@media (min-width: 1199px){
  .toggle-sidebar .sidebar{
      left: 0px;
  }
  
}

@media (min-width: 1200px){
  .toggle-sidebar #main,
  .toggle-sidebar .main
  {
      margin-left: 245px;
  }
  
  .toggle-sidebar #main .body .info-card h6{
      font-size: 22px;  
  }
  .toggle-sidebar .sidebar{
      width: 245px;
  }
  
  .toggle-sidebar .sidebar span,
  .toggle-sidebar .sidebar .bi-chevron-down{
    opacity: 1;
  }
  .toggle-sidebar .sidebar-nav .nav-heading{
    opacity: 1;  
    margin: -30px 0 5px 0px;
  }
  .toggle-sidebar .sidebar .hr{
    margin-top: 5px;
  }

}

.sidebar .hr{
  margin-top: 5px;
}

.sidebar .toggle-sidebar-btn{
  position: absolute;
  top: 13%;
  right: -15px;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background-color: var(--primaryColor);
  border-radius:  50%;
  font-size: 22px;
  padding: 7px;
}

.rotated {
  transform: rotate(90deg); /* Adjust the rotation angle as needed */
}

/*-------------- logo -------------*/

.logo{
  line-height: 1;
  padding: 10px 0px;
  margin-top: -17px;
  cursor: pointer;
  text-decoration: none;

}

.logo img{
  width: 74px;
  /* margin-right: 6px; */
  padding: 0.2rem;
  margin-left: -10px;
}

.logo span{
  font-size: 24px;
  font-weight: 600;
  color: #355a05;
}


@media (min-width: 1200px){
  .logo{
      width: 280px
  }
}
  

.sidebar .hr{
  margin-top: -1px;
}

.sidebar-nav{
  padding: 0;
  margin: 0;
  margin-top: 40px;
  list-style: none;
}

.sidebar-nav li{
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item{
  margin-bottom: 10px;
  /* height: 50px; */
  background-color: #f6f6fe80;
}



.sidebar-nav .nav-heading{
  font-size: 17px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  margin: 20px 0 5px 0px;
  white-space: nowrap;
  opacity: 1;
}

.sidebar-nav .nav-link{
  display:flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  color: white;
  background: var(--primaryColor);
  padding: 10px 15px;
  border-radius: 4px;

}


/* 
.sidebar-nav .navList{
  padding-left: 0.9rem;
}
 */

.sidebar-nav .nav-link i{
  font-size: 20px;
  margin-right: 10px;
  color:white;
}


.sidebar-nav .nav-link.collapsed{
  color: var(--textColor);
  background: #ffffff;
}


.sidebar-nav .nav-link.collapsed i{
  color:var(--textColor);
}


.sidebar-nav .nav-link:hover{
  color: #ffffff;
  background:var(--primaryColor);
  
}

.nav-active{
  color: #ffffff!important;
  background:var(--primaryColor)!important;

}



.sidebar-nav .nav-link:hover i{
  color: #ffffff;
}


.sidebar-nav .nav-link .bi-chevron-down{
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down{
  transform: rotate(180deg);
}




.sidebar-nav .nav-content{
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--textColor);
  transition: 0.3s;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
  text-decoration: none;   
}



.sidebar-nav .nav-content a i{
  font-size: 20px;
  margin-right: 0px;
  /* line-height: 0; */
  min-width: 60px;
  border-radius: 50%;
}

.sidebar-nav .nav-content span{
  font-size: 14px;
  font-style: normal;
  margin-left: 8px;
  border-radius: 50%;
  transition: all 0.4s;
  white-space: nowrap;
  opacity: 1;

}
.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active{
  color: var(--hoverColor);
}

.sidebar-nav .nav-content a.active i{
  background-color: var(--hoverColor);
}





.leaflet-container{
  height: 100vh;
  width: 100%;
  z-index: 0;
}





/*----------------------------------------------------
#Body
-----------------------------------------------------*/



/* # Page Title */
.pagetitle{
  margin-top: -10px;
  margin-bottom: 3rem;
}

.pagetitle h1{
  font-size: 28px;
  margin-bottom: 0;
  font-weight: 600;
  color: #000000;
}

.pagetitle p{
  margin-top: 5px;
  font-weight: 500;
  color: var(--textColor);
  font-family:'Trebuchet MS', sans-serif;
}




/* # Filter Dropdown */

.filter{
  position: absolute;
  right: 15px;
  top: 15px;
}

.body .filter{
  position: absolute;
  right: 0px;
  top: 15px;
}

.body .filter .icon{
  color: #6b6b6b;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.body .filter .icon-hover,
.body .filter .icon:focus {
  color: var(--hoverColor);
}

.body .filter .dropdown-header{
  padding: 8px 15px;
}

.body .filter .dropdown-header h6{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.body .filter .dropdown-item{
  padding: 8px 15px;
}



/* # Info Cards */

.body .info-card {
  padding-bottom: 10px;
}


.body .info-card h6{
  font-size: 25px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding: 0;
}



/* @media (min-width: 1200px){
  .body .info-card h6{
    font-size: 22px;
  }
} */

.body .card-icon{
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.body .sales-card .card-icon{
  color: #90a955;
  background: #f6f6fe;
}

.body .revenue-card .card-icon{
  color: var(--colorYellow);
  background: #f6f6fe;
}

.body .customers-card .card-icon{
  color: var(--hoverColor);
  background: #f6f6fe;
}


/* # Back to top */

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
  background: var(--hoverColor);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #ffffff;
}

.back-to-top.active{
  visibility: visible;
  opacity: 1;
}


.pagination {
  margin-top: -7px;
}


.pag-btn {
  padding: 5px 10px;
  background-color: var(--primaryColor);
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  /* box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25); */
}

.pag-page {
  padding: 5px 10px;
  background-color: #fff;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.pag-page.current-page {
  background-color: #007bff;
  color: #fff;
}

.pag-page:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.table-body{
  min-height: 618px;
  max-height: 618px;

}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  white-space: normal; /* Enable text wrapping */
  word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
  padding: 8px;

}

.table th{
 /* background-color: #808080; */
 padding: 8px;
 width: 100px;
}

.table td {
  font-size: 14px;
  padding: 8px;
  width: 100px;

}

.badge{
  padding: 8px 20px;
  font-weight: 500;
  font-size: 14px;
  /* border-radius: 20px; */
}

.bg-success{
  background-color: #90a955 !important;
}

.bg-primary{
  background-color: #132a13 !important;
}
/* ---------------------------------------------------- */





::-webkit-scrollbar {
  display: none;
}



