



/* ================================product card================================ */

.product-card{
  /* padding: 15px; */
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.15) !important;
  /* border-radius: 30px !important; */

}

.product-card .product-img img{
  object-fit: contain;
  /* max-height: 135px; */
}

.product-card .product-img > img:last-child{
  display: none;

  }
  
.product-card:hover .product-img > img:nth-child{
  display: none;
}

.product-card:hover .product-img > img:last-child{
  display: block;
}


.product-card:hover .action-bar{
  right: 15px;
}
.product-card .product-details h6{
  color: #bf4800;
  font-size: 12px;  
  text-transform: uppercase;
  margin-top: -7px;
}

.product-card .product-details h5{
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #1c1c1b;
}

.product-card .product-details p.price{
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.product-card .product-details p.price span{
  font-size: 12px;
  font-weight: 500;
  color: black;
}

.product-card .product-details p.stock{
  font-size: 12px;
  color: black;
}

.action-bar{
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon{
  top: 2%;
  right: 15px;
}


.p-button{
  background-color: #ffffff00;
  color: #1c1c1b;
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 28px;
  padding: 3px 12px;
  border: 1px solid var(--hoverColor);
  border-radius: 50px;
  transition: 0.48s ease;
}

/* ================================product card end================================ */



/* ================================single product================================ */

.main-product-image{
  /* padding: 20px; */
  background-color: white;
  border-radius: 5px;
}

.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.main-product-image img{
  width: 100%;
  height: 550px;
  object-fit: contain;
}

.main-product-details{
  padding: 20px 40px;
  background-color: white;

}
.main-product-details h3.title{
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1c1c1b;
  margin-bottom: 10px;
}

.main-product-details h3.title span{
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--textColor);
  margin-bottom: 10px;
}
.main-product-details p.price{
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
}

.main-product-details p.price span{
  font-size: 15px;
  font-weight: 600;
}

.product-heading{
  font-size: 16px;
  font-weight: 600;
  color: #1c1c1b;
  margin-bottom: 0;
}

.grade .button-select{
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: -20rem;
  cursor: pointer;

}

.grade .button-select:hover{
  color: white;
  background-color: var(--hoverColor);
}

.product-description{
  font-size: 14px;
  text-align: left;
}


.product-button {
  background-color: var(--hoverColor);
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 28px;
  padding: 0.6rem 2rem;
  border: 1px solid var(--hoverColor);
  border-radius: 50px;
  transition: 0.48s ease;
}

.product-button:hover {
  background-color: black;
}

.accordion{
  --bs-accordion-bg: transparent;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-btn-focus-box-shadow: transparent;
  --bs-accordion-border-color: transparent;
  --bs-accordion-btn-icon-width: 0.9rem;

   width: 100%;
}

.accordion-button{
  padding:0px;
}

.accordion-heading{
  font-size: 14px;
}

.accordion-icon{
  min-width: 1.8rem;
  margin-right: 3px;
}

/* 
.button-select{
  background-color: rgba(0, 0, 0, 0);
  color: #00000000;
  font-size: 14px;
  font-weight: 600;  
}
.button-select:hover{
  background-color: var(--hoverColor);
  color: #ffffff;
} */