

.gap-15{
  gap: 15px;
}

.section{
  padding: 5rem 8rem;
  background: white ;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .section_bg {
  background: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
} */

.section_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.section_wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.section_wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.section_wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.section_wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: #ffffff00;
  font-weight: 500;
  /* letter-spacing: 0.04em; */
  text-transform: uppercase;
  line-height: 28px;
  font-size: 12px;
  color: black;
  padding: 0.7rem 2rem;
  border: 1px solid var(--hoverColor);
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  transition: 0.48s ease;

}

.custom__button:hover {
  background-color: var(--hoverColor);

 
}

.p_cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p_opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext_cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon_img {
  width: 45px;
}



/* --------------------shop-------------------- */

.home-wrapper-2{
 background-color: #ffffff ; 
}

.filter-card {
  background-color: #ffffff ;
  border-radius: 10px;
  padding: 10px 15px 25px;
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.15) !important;

}


.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

.filter-card ul,
.filter-card .form-check-label{
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--textColor);
  cursor: pointer;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color:black;
  margin-bottom: 15px;
  margin-top: 20px;
}

.filter-card .form-check-input:focus{
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card .form-check-input:checked{
  background-color: var(--hoverColor);
  border-color:var(--hoverColor);
}


.filter-sort-grid{
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.15) !important;

}

.shop-col-3{
  width: 24%;
}

/* --------------------end - shop-------------------- */


/* --------------------contact us page-------------------- */

.contact-wrapper{
  position: relative;
}

.contact-wrapper::before{
  content: "";
  width: 100%;
  height: 16px;
  background-image: url(./assets/ripped-paper-white-up.png);
  position: absolute;
  top: -16px;
  left: 0;
  /* z-index: 10; */
  transform: rotate(180deg);
  background-size: auto;
}


.contact-inner-wrapper{
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}

.contact-inner-wrapper > div{
  width: 48%;
}

.contact-title{
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  padding-left: 20px;
  text-align: left;
  text-transform: uppercase;
}

.form-control{
  border-radius: 15px;
}
.contact-inner-wrapper form .form-control{
  background-color: #f5f5f7;
  border-radius: 10px;
  border-color: transparent;
  border: none;
  padding: 10px;
}

.contact-inner-wrapper form .button{
  padding: 0.5rem;
  background: var(--primaryColor);
  border-radius: 10px;
  border-color: transparent;
  color: #FFFFFF;
  margin: auto;
  font-size: 16px;
  width: 20%;
  transition: .3s ease;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.contact-inner-wrapper form .button:hover{
  background: var(--hoverColor);
  color: #ffffff;
}


.lower-contact{
  background-color:#f5f5f7;
}

.lower-contact p{
  font-size: 16px;
}


/* --------------------contact us page end-------------------- */




.hero{
  height: 80vh;
  /* background-color: black; */
  margin-top: -120px;
}


.contact-section{
  position: relative;
  margin-top: -30px;
  z-index: 2;
}

.contact-section::before{
  content: "";
  width: 100%;
  height: 16px;
  background-image: url(./assets/ripped-paper-gray-up.png);
  position: absolute;
  top: -16px;
  left: 0;
  /* z-index: 10; */
  transform: rotate(180deg);
  background-size: auto;
}

.hero .hero-text{
  padding-top: 230px;
}


@media screen and (min-width: 2000px) {
  .custom_button,
  .p_cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p_opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext_cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon_img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .section_wrapper {
    flex-direction: column;
  }

  .section_wrapper_img {
    margin: 5rem 0 0 0;
  }

  .section_wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .section_wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section_padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section_padding {
    padding: 4rem 2rem;
  }
  
  .p_cormorant {
    font-size: 21px;
  }

  .p_opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p_opensans {
    font-size: 12px;
  }

  .p_cormorant {
    font-size: 19px;
  }

  .headtext_cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}