.hero-section{
    padding: 0 10rem;
    background: none;
    position: relative;
    display: flex;
    align-items: center;
    height: 90vh;
}

.hero-section .container{
    margin-bottom: -65px;
}
  .hero-text {
    line-height: 100px;
    margin-top: -120px;
    position: relative;
    z-index: 1; 
  }
  
  /* .hero-text::before {
    content: "";
    position: absolute;
    margin-top: -16rem;
    top: 0;
    left: -20px;
    width: 50%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(118, 184, 31, 1)); 
    filter: blur(10px); 
    z-index: -1; 
} */
.hero-text .text1{
    color: #ffffff;
    font-size: 128px;
    font-weight: 800;
   
}

.hero-text .text2{
    color: #ffffff;
    font-size: 96px;
    font-weight: 200;
    
}


.hero-explore{
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: #ffffff;
    cursor: pointer;
}

.hero-explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}

.hero-dot-play{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;

}

.hero-dot{
    width: 15px;
    height: 15px;
    background: #ffff;
    border-radius: 7.5px;
    cursor: pointer;
}

.hero-dot.green{
    background: #76B81F;  
}

.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-play p{
    color: #ffffff;
    font-size: 19px;
}