
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
    z-index: 1000;
}

.nav-logo{
    font-size: 42px;
    font-weight: 800;
    z-index: 10;
}


.nav-menu{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 75px;
}

.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: #ffffff;
    color: #262626;
}