
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 120px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1000;
}

.nav:hover{
    
}
.nav .nav-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 42px; 
    font-weight: 800;
    z-index: 10;
}

.nav .nav-logo a{
    text-decoration: none;
    color: #ffffff;

}

.nav .nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    gap: 55px;
    margin-bottom: 0;
    z-index: 1000;

}

.nav-menu .nav-list a{
    color: white;
    text-decoration: none;
}

.nav-list a:hover{
    /* color:var(--hoverColor); */
    border-bottom: 3px solid var(--hoverColor);

}

.nav-login{
    border-radius: 50px;
    padding: 7px 28px;
    text-decoration: none;
    background: #ffffff;
    color: #262626;
    transition: 0.3s ease;
    border: none;
}

.nav-login:hover{
    background:var(--hoverColor);
    color: #ffffff;
}


/* .main-header:hover{
    z-index: 1000;
}

.main-header:hover a{
    color: black;
}

  */

.stricky-header {
    position: fixed;
    z-index: 991;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    -webkit-transform: translateY();
    transform: translateY();
    /* transition: 3s ease;  */
}

.stricky-header::after{
    content: "";
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-image: url(../assets/ripped-paper-white-up.png);
    background-position: center center;
    background-size: auto;
    filter: drop-shadow(0px 10px 4px rgba(48, 47, 47, 0.2))

}

.stricky-header .nav .nav-logo a{
    text-decoration: none;
    color: var(--hoverColor);

}


.stricky-header .nav-list a{
    color: black;
}

.stricky-header .nav-login{
    background: black;
    color: #ffffff;
}

.stricky-header .nav-login:hover{
    background: var(--hoverColor);
    color: #ffffff;
}



.stricky-header.nav-scrolled {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}



.user-img{
    font-size: 10px;
}


/* Add additional styles for the cart badge */
.nav-menu .nav-list .cart-badge {
    margin-right: 20px; /* Adjust spacing */
    position: relative;
    background-color: black;
}

.cart-badge .MuiBadge-badge {
    background-color: var(--hoverColor);
}



.shopping-cart-icon{
    color:#ffffff;
    font-size: 25px;
    
}

.stricky-header .shopping-cart-icon{
    color:#000000
}

.stricky-header .cart-badge .MuiBadge-badge {
    background-color: var(--hoverColor);
}



/* ================================custom-header================================ */

.product-header {
    position: relative;
    z-index: 991;
    background-color: #fff;
    width: 100%;
    -webkit-transform: translateY();
    transform: translateY();
    transition: transform 3s ease; /* Add transition for background-color */
  }
  
  .product-header::after{
    content: "";
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-image: url(../assets/ripped-paper-white-up.png);
    background-position: center center;
    background-size: auto;
    filter: drop-shadow(0px 10px 4px rgba(48, 47, 47, 0.2))
  
  }
  
  .product-header .nav .nav-logo a{
    text-decoration: none;
    color: var(--hoverColor);
  
  }
  
  
  .product-header .nav-list a{
    color: black;
  }
  
  .product-header .nav-login{
    background: black;
    color: #ffffff;
  }
  
  .product-header .nav-login:hover{
    background: var(--hoverColor);
    color: #ffffff;
  }
  
  
  
  .product-header.nav-scrolled {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  

  .product-header .shopping-cart-icon{
    color:#000000;
    font-size: 25px;  
}
  
.product-header .cart-badge .MuiBadge-badge {
    background-color: var(--hoverColor);
    color: #ffffff;
}


  /* ================================custom-header ends================================ */
  
  
  