/* .cart-wrapper{
  margin-top: 30px;
} */

.cart-header .cart-data{
  border-bottom: 1px solid #eaeaea;
}

.cart-header h4{
  font-size: 13px;
  color: #000000;

}

.cart-col-1{
  width: 40%;
}

.cart-col-1 p{
  font-size: 14px;
  color: #777777;
}

.cart-col-2{
  width: 10%;
}

.cart-col-3{
  width: 13%;
}

.cart-col-4{
  width: 15%;
}

.cart-data h5.price{
  font-size: 14px;
  color: #1c1c1b;
}


.form-quantity{

}