
.driver-main{
    margin-top: 20px;
    padding: 20px 30px;
    transition: all 0.3s;
    background-color: #f6f6fe80;
}

  
  @media(max-width: 1199px){
    .driver-main{
        padding: 20px;
    }
  }
  
  @media (min-width: 1200px){
    .driver-main,
    #footer{
        margin-left: -60px; 
        margin-right: 220px;      
    }
  }
/*----------------------- Recent Sales ---------------------*/


.body .recent-sales{
    font-size: 14px;
}

.body .recent-sales .table thead{
    background: #f6f6fe !important;
}

.body .recent-sales .table thead th{
    border: 0;
}

.body .recent-sales .datatable-top{
    padding: 0 0 10px 0;
}

.body .recent-sales .datatable-bottom{
    padding: 10px 0 0 0;
}




/*----------------------- Top Selling ---------------------*/

.body .top-selling{
    font-size: 14px;
}

.body .top-selling .table thead{
    background: #f6f6fe !important;
}

.body .top-selling .table thead th{
    border: 0;
}

.body .top-selling .table tbody td{
    vertical-align: middle;
}

body .top-selling img{
    border-width: 5px;
    max-width: 60px;
}


/*----------------------- Recent Activity ---------------------*/

.body .activity{
    font-size: 14px;
}

.body .activity .activity-item .activite-label {
    color: #888888;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 64px;
}

.body .activity .activity-item .activity-label::before {
    content: '';
    position: absolute;
    right: -11px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #eceefe;
}

.body .activity .activity-item .activity-badge{
    margin-top: 3px;
    z-index: 1;
    font-size: 11px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid #ffffff;
    flex-grow: 0;
}

.body .activity .activity-item .activity-content{
    padding-left: 10px;
    padding-bottom: 20px;
}

.body .activity .activity-item:first-child .activity-label::before{
    top: 5px;
}

.body .activity .activity-item:last-child .activity-content{
    padding-bottom: 0;
}


/*----------------------- News ---------------------*/

.body .news .post-item + .post-item{
    margin-top: 15px;
}

.body .news img{
    width: 80px;
    float: left;
    border-radius: 5px;
}

.body .news h4{
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
    margin-bottom: 5px;
}

.body .news h4 a{
    color: #012970;
    transition: 0.3s;
}

.body .news h4 a:hover{
    color: #4154f1;
}

.body .news p{
    font-size: 14px;
    color: #777777;
    margin-left: 95px;
}

.map-card{
    object-fit: cover;
    height: 100%;
    overflow: hidden;
}




/*----------------------- Profile Img ---------------------*/

.right-col{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: -20px;
    padding: 1rem 1rem;
}

.profile-img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.profile-name-col .Link{
    text-decoration: none;
    color: #539300;  
}

.profile-name-col h6{
    font-weight:bolder;
}

.profile-name-col p{
    font-size: 14px;
    margin-top: -4px;
    text-decoration: none;   
}

.icon-col i{
    content: "\F285";
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    background-color: #a3cc3c4a;
    border: 1px solid #a3cc3c9b;
}




/* # Page Title */

.header-pagetitle h1{
font-size: 28px;
margin-bottom: 0;
font-weight: 600;
color: #000000;
}

.header-pagetitle p{
margin-top: 5px;
font-weight: 500;
color: var(--textColor);
font-family:'Trebuchet MS', sans-serif;
}

/*-------------------------------- Searchbar ------------------------------------*/

.header-search-bar{
    min-width: 360px;
    padding: 0 20px;
    margin-top: -40px
  }
  
  .header-search-bar .search-form{
    width: 100%;
  
  }
  
  .header search-form input{
    border: 0;
    font-size: 14px;
    color: #000000;
    border: 1px solid rgba(1, 41, 112, 0.2);
    border-radius: 6px;
    padding: 7px 40px 7px 20px;
    width: 100%;
    transition: 0.3s;
  
  }
  
  .header-search-form input:focus,
  .header-search-form input:hover{
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
  }
  
  .header-search-form button{
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
  }
  
  .header-search-form i{
    color: #000000;
  }
  
  
  .transaction-card{
        margin-bottom: 30px;
        border-radius: 25px;
        color: white;
        border: solid #ffffff;
        box-shadow: none ;    
  }

.chart{
    position: absolute;
    right: 50px;
    top: 2px;
}



.vehicle-details .vehicle-img{
    width: 100%;
    object-fit: cover;
    margin-top: -18px;
    filter: drop-shadow(-2px 4px 5px rgba(0, 0, 0, 0.3))  /* Example shadow */
}