.section_partners{
    position: relative;
    padding: 3rem 8rem;
    padding-bottom: 5rem;
    background-color: #f6f5f2;
}
/* 
.section_partners::before{
    content: "";
    width: 100%;
    height: 16px;
    background-image: url(../../assets/ripped-paper-white-up.png);
    position: absolute;
    top: -16px;
    left: 0;
    z-index: 10;
    transform: rotate(180deg);
    background-size: auto;
    filter: drop-shadow(0px 7px 4px rgba(79, 79, 79, 0.2))
} */

.logo-col{
    margin-top: 40px;
}

.logo-col .row img {
    margin-right: 40px;
    /* margin-bottom: 20px; */
}

/* Remove margin from the last image to prevent extra space */
.logo-col .row img:last-child {
    margin-right: 0;
}

.logo-col img{
    width: 200px;
}

.logo-col .img1{
    height: 90px;
}

.logo-col .img2{
    margin-top: 20px;
    width: 250px;
    height:100%;
}

.logo-col .img3{
    width: 120px;
    height: 100px;
}

.logo-col .img4{
    width: 170px;
    height: 110px;
}

.logo-col .img5{
    width: 180px;
    height: 80px;
}



