.driver-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 95px;
    background-color: #ffffff;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    z-index: 100;
  }
  
  @media (max-width: 1199px){
    .driver-sidebar{
        left: -300px;
    }
  }
  

  .driver-sidebar .collapsed{
    margin-top: 30rem;
  }