.feature-section{
    position: relative;
    margin-top: -30px;
    z-index: 2;
}

.feature-section::before{
    content: "";
    width: 100%;
    height: 16px;
    background-image: url(../../assets/ripped-paper-white-up.png);
    position: absolute;
    top: -16px;
    left: 0;
    z-index: 10;
    transform: rotate(180deg);
    background-size: auto;
}

.card-column{
    margin-top: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;

}

.col-md-3{
  width: 33.33%;
  display: flex;
  flex-direction: column;
  line-height: normal;
  justify-content: center;
}
.card-column .card1{
    background-color: var(--hoverColor);
    padding: 80px 35px;
    border-radius: 30px;
    box-shadow: -71.746px 69.66px 80px 0px rgba(0, 0, 0, 0.11),
    -46.502px 45.15px 46.852px 0px rgba(0, 0, 0, 0.08),
    -27.635px 26.832px 25.481px 0px rgba(0, 0, 0, 0.07),
    -14.349px 13.932px 13px 0px rgba(0, 0, 0, 0.05),
    -5.846px 5.676px 6.519px 0px rgba(0, 0, 0, 0.04),
    -1.329px 1.29px 3.148px 0px rgba(0, 0, 0, 0.03);
       
    /* @media (max-width: 991px) {
        margin-top: 40px;
        padding: 0 20px;
      } */
}

.card-column .card1 h3{
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;

}

.card-column .card1 p{
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 35px;
}

.card-column .card1 a{
    margin-top: 35px;
}

.card-column .card{
    margin-top: 1.6rem !important;
    padding: 60px 30px !important;
    border-radius: 30px !important;
    color: black !important;
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.15) !important;
    border: none;
    transition: 0.3s ease-in-out;
    transition:0.3s ease-in-out; /* Add transition for smooth scaling */
}

.card-column .card:hover{
    background-color: var(--hoverColor);
    color: white;
    transform: scaleX(1.1) scaleY(1.1); /* Scale the card along the X and Y axes on hover */
    box-shadow: -71.746px 69.66px 80px 0px rgba(0, 0, 0, 0.11),
    -46.502px 45.15px 46.852px 0px rgba(0, 0, 0, 0.08),
    -27.635px 26.832px 25.481px 0px rgba(0, 0, 0, 0.07),
    -14.349px 13.932px 13px 0px rgba(0, 0, 0, 0.05),
    -5.846px 5.676px 6.519px 0px rgba(0, 0, 0, 0.04),
    -1.329px 1.29px 3.148px 0px rgba(0, 0, 0, 0.03);

}

.card-column .card img{
    object-position: center;
    width: 30%;
    height: 80px;
}

.card-column .card h3{
    margin-top: 35px;
    font-weight: 700;
    font-size: 24px;
}

.card-column .card p{
    font-size: 15px;
    margin-top: 25px;
    line-height: 26px;
}
.col2{
    margin-top: 1.3rem;
}

.feature-transition {
    transition: all 3s ease-in-out; /* Example transition effect */
  }
  