
.section_about{
    position: relative;
    margin-top: -2rem;
    /* margin-bottom: -4rem; */
    /* background-color: #ffffff; */
    z-index: 10;
}

.section-text::after{
    content: "";
    width: 100%;
    height: 16px;
    background-image: url(../../assets/ripped-paper-white-up.png);
    position: absolute;
    top: -16px;
    left: 0;
    z-index: 10;
    transform: rotate(180deg);
    background-size: auto;
    filter: drop-shadow(0px 5px 4px rgba(157, 156, 156, 0.2))
}


.section-text h2{
    background-image: url('../../assets/winemaking.jpg'); /* Replace 'img/special_offer_text_bg.jpg' with the path to your background image */
    background-size: cover; /* Adjust background size as needed */
    background-position: center; /* Adjust background position as needed */
    -webkit-background-clip: text; /* Apply background image to text */
    background-clip: text; /* Apply background image to text */
    background-attachment: fixed;
    color: transparent; 
    font-size: 85px;
    font-weight: 900;
    margin-bottom: -3rem;
    text-transform: uppercase;
    /* text-shadow: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2)); */  
    opacity: 1;
    /* color: black; */
}


.section_about-overlay{
    position: absolute;
    inset: 0;
}

.section_about-overlay img{
   width: 80rem;
   height: 10rem;
   z-index: -1;
}

.about-content{
    width: 100%;
}

.about-content .section-heading{
    margin-bottom: 100px;
    line-height: 1.4;
    text-transform: uppercase;
}
.about-content .section-heading ._title{
    font-weight: 900;
    font-size: 2.2rem;
}

.about-content .section-heading ._title span{
    color: var(--hoverColor);
}

.about-content .section-heading ._subtitle{
    font-weight: lighter;
    font-size: 2.2rem;

}

.about-content ._text{
    font-weight: 300;
    font-size: 17px;
    color:black ;
}

.about-img{
    margin-left: -7rem;
    width: 500px;
    height: 540px;
}